@media screen and (max-width: 767px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__top .top__left--wellcommsg,
    .header__top .header__top--right span {
        display: none;
    }
    .scroll {
        margin: 0 auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        width: 234px !important;
    }
    .scroll::-webkit-scrollbar {
        width: 0;
    }
    .main__favourite-brands--middle {
        width: 1170px;
    }
    .main__favourite-brands--middle img {
        width: 234px;
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    }
    /* .menu-toggle {
        display: block;
    } */
    /* .col-menu {
        display: none !important;
    } */
    .footer-nav .nav {
        overflow-x: auto;
    }
    .footer-nav .nav::-webkit-scrollbar {
        width: 0;
    }
    .main .main__best-seller .container>ul {
        justify-content: left;
    }
    .main__services-img .right {
        padding-top: 30px;
    }
    .header__main .header__main--cart {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 210px;
    }
    .header__main ul.header__main--menu-primary>li>a {
        padding: 10px 6px 10px 10px !important;
        font-size: 13px;
    }
    .header__main ul.header__main--menu-primary {
        padding-top: 15px;
    }
    .header__main ul.header__main--menu-primary>li+li::before {
        content: '/';
        display: block !important;
        position: absolute !important;
        float: left;
        top: 10px;
        padding-top: 0;
    }
    .main__feedback {
        padding-top: 30px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header__top .top__left--wellcommsg {
        display: none;
    }
    .main__feedback {
        padding-top: 60px !important;
    }
    .header__main .header__main--cart {
        padding-left: 0;
    }
}


/*Desktop Small*/

@media all and (min-width: 993px) and (max-width: 1200px) {}

@media screen and (max-width: 1200px) {
    .main__cart--text {
        display: none;
    }
    .scroll {
        margin: 0 auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        width: calc(234px * 3);
    }
    .scroll::-webkit-scrollbar {
        width: 0;
    }
    .main__favourite-brands--middle {
        width: 1170px;
    }
    .main__cms p {
        display: none;
    }
}